/* Golbal Role */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --default-size: 1.8rem;
  --main-color: #00bbe3;
  --second-color: #044477;
  --main-hover: #0099cf;
  --fs-desc: 1.8rem;
  --transition: all 0.3s;
  --box-shadow: 0 0 15px 0px rgb(0, 0, 0, 0.2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol {
  padding: 0;
}
@font-face {
  font-family: "SEGOEUI";
  src: url(/Fonts/SEGOEUI.TTF);
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
}
.half-circle,
.circle {
  position: absolute;
}
.half-circle {
  top: -285px;
  left: -200px;
}
.circle {
  right: 115px;
  top: 980px;
  z-index: 1;
}
/* Golbal Role */

/* Start primary button */
.primary-btn {
  font-size: 2.4rem;
  padding: 10px 32px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  transition: var(--transition);
  text-transform: uppercase;
}
.primary-btn:hover {
  transform: scale(1.2);
  background-color: transparent;
  color: var(--main-color);
  box-shadow: inset 0 0 0 2px var(--main-color);
}
/* End primary button */

/* Start secondary button */
.secondary-btn {
  display: flex;
  align-items: center;
  border: none;
  font-size: 2rem;
  background: none;
  position: relative;
  padding: 20px 0;
  transition: var(--transition);
  text-transform: uppercase;
  display: flex;
  column-gap: 5px;
}
.secondary-btn a {
  color: #111;
  text-decoration: none;
}
.secondary-btn-news a {
  color: #fff;
}
.secondary-btn svg path {
  color: red;
  background-color: red;
}
.secondary-btn::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  background-color: #aaa;
  bottom: 0;
  left: 0;
  transition: var(--transition);
}
.secondary-btn:hover {
  transform: scale(1.2);
  color: var(--main-color);
}
.secondary-btn:hover a {
  color: var(--main-color);
}
.secondary-btn:hover:after {
  width: 100%;
  background-color: var(--main-color);
}
/* Start secondary button */
/* Start threed button */
.threed-btn {
  border: none;
  background: none;
  background-color: var(--main-color);
  color: #fff;
  text-transform: uppercase;
  padding: 10px 24px;
  font-size: 1.6rem;
  transition: var(--transition);
}
.threed-btn:hover {
  transform: scale(1.2);
}
/* End threed button */

/* Start primary heading */

.primary-heading {
  font-size: 5.4rem;
  color: var(--main-color);
  margin-bottom: 4.8rem;
}
.primary-heading span {
  color: #000;
  font-weight: 900;
}
/* End primary heading */

/* Start starter-sections */
.primary-heading-sections {
  height: 20vh;
  font-weight: 900;
  font-size: 5.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.nav-sections {
  display: flex;
  align-items: center;
  gap: 10px;
}
.starter-sections p {
  margin-bottom: 0;
}
.below-header {
  margin: 48px 0 0 64px;
}
.below-header .home {
  font-size: var(--fs-desc);
  color: #000;
  text-decoration: none;
  transition: var(--transition);
}
.home:hover {
  text-decoration: underline;
}
.below-header .title-section {
  font-size: var(--fs-desc);
  font-weight: 900;
  color: var(--main-color);
}
.home-icon,
.arrow-icon {
  font-size: var(--fs-desc);
}
/* End starter-sections */
