/* 1296px */
@media screen and (max-width: 81em) {
  html {
    font-size: 55%;
  }
  .hero-section {
    padding: 30px 24px 0;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-text {
    grid-row: 2;
    margin-top: 48px;
    padding: 0 2.4rem;
  }

  .sucss {
    grid-template-columns: 1fr;
  }
  .mySlides {
    padding: 24px;
  }
  .primary-heading {
    font-size: 4.2rem;
  }
}
@media (max-width: 68em) {
  .hero-nav {
    display: none !important;
  }
  .menu-icon {
    display: block;
  }
}
/* 800px */
@media (max-width: 50em) {
  .form-search-bar input[type="text"] {
    width: 250px;
  }
  .hero-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .register-product {
    color: #000;
    width: 83vw;
    height: 28rem;
    background-color: #fff;
    bottom: -19rem;
    right: -1px;
    padding: 2rem 5rem;
    gap: 2.4rem;
  }
  .register-product::before {
    width: 8rem;
    height: 45rem;
    left: -7rem;
    top: 17rem;
  }
  .hero-img-icon-register {
    display: block;
  }
  .about {
    margin-top: 60rem;
  }
}
/* 767px */
@media (max-width: 767px) {
  .slide-content {
    margin: 0 auto;
  }
  .swiper-navBtn {
    display: none;
  }
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
  .platform {
    margin: 24px;
  }
  .shadow-btn {
    box-shadow: none;
  }

}
/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
/* 576px */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .hero-section {
    padding: 10px 24px 0;
    width: 100%;
    max-height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/mobile-images/hero-img-mobile.png);
  }
  .news-events {
    padding: 200px 0px 100px;
    background-image: linear-gradient(
        rgba(55, 55, 55, 0.8),
        rgba(55, 55, 55, 0.8)
      ),
      url(../images/mobile-images/bg-news-mobile.png);
  }
  .news-head {
    margin-bottom: 64px;
  }
  .left-sucss {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-slide {
    display: block;
  }
  .btn-slider-sucss {
    margin-bottom: 24px !important;
  }
  .prev,
  .next {
    top: -100px;
  }
  .prev {
    left: 10px;

  }
  .next {
    left: 100px;

  }
  .footer {
    background-image: linear-gradient(#0099cf, rgba(0, 152, 207, 0.5)),
      url(../images/mobile-images/bg-footer-mobile.png);
  }
  .primary-btn {
    font-size: 2rem;
  }
  /*Start media Navgation */
  .menu-icon {
    display: block;
    z-index: 11;
  }
  .navigation {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    color: #000;
    background-color: #fff;
    z-index: 10;
  }
  .nav-container.active .navigation {
    display: block;
  }
  .nav-container {
    padding: 12px;
  }
  .header-container {
    width: 110%;
    margin: 85px 8px;
  }
  .hero-title {
    font-size: 4.8rem;
  }
  .hero-description {
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .searchBar-hero {
    max-width: 100%;
  }
  .hero-input {
    width: 70%;
    padding: 6px 12px;
  }
  .advanced-serachbar {
    width: 105%;
  }
  .list-links,
  .nav-languages,
  .top-nav {
    display: block;
  }
  .nav-login a,
  .nav-languages a,
  .list-links a {
    color: #000;
  }
  /*Start media Navgation */

  .right-corner-content {
    max-width: 70vw;
    display: block;
    bottom: -480px;
    padding: 24px;
  }
  .document-img {
    padding: 24px 48px 0 0;
    margin-bottom: 24px;
  }
  .document-img img {
    height: 115px;
  }
  .bg-registered-section {
    height: 350px;
  }
  .circle {
    height: 300px;
    left: 35%;
    top: 110%;
  }
  .half-circle {
    top: -250px;
    height: 400px;
  }
  .img-src-about {
    padding: 0 24px;
  }
  .logo-about-img {
    height: 100px;
    right: 13%;
    bottom: -61%;
    z-index: 2;
  }
  .registered-products {
    padding: 150px 24px;
  }
  .platform {
    padding: 24px;
  }
  .doucment-section {
    padding: 48px 24px 24px;

  }
  .footer {
    padding: 0;
  }
  .footer-logo {
    margin: 0 0 48px 100px;
  }
  .right-corner-content::before {
    top: 130px;
    height: 350px;
  }
  .products-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 350px;
  }
}
